body {
    position: relative;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.main-container {
    position: absolute;
    top: -200px;
    /* Adjust as needed */
    right: -900px;
    /* Adjust as needed */
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#canvas {
    width: 700px;
    /* Set the width of the canvas */
    height: 450px;
    /* Set the height of the canvas */
    background-color: #fff;
    border-radius: 8px;
}